.annotation {
    font-size: 8px;
    // font-family: ShareTechMono, serif;
    font-family: Calibri, serif;
}

.header {
    // font-family: MajorMonoDisplay, serif;
    font-family: Calibri, serif;
    text-align: center;
    background: white;

    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;

    padding: 40px 0;
    // margin-top: 20px
}
