@import "WeatherInfoPanel";

.weather-panels {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 50px;
}

// different colored temp bg (not implemented yet)
.row-bg {
  background-color: rgb(199, 199, 199);
}