.weather-info {
    display: grid;
  
    .city-name {
      text-decoration: underline;
      align-self: center;
      justify-self: center;
    }
  
    .overcast {
      display: grid;
  
      .overcast-img,
      .overcast-description {
        align-self: center;
        justify-self: center;
      }
    }
  
    .current-weather {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
  
      .humidity,
      .curr-temp,
      .feels-like {
        align-self: center;
        justify-self: center;
      }
    }
  
    .temps {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: -20px;
      margin-top: 10px;
  
      .min-temp,
      .max-temp {
        align-self: center;
        justify-self: center;
      }
    }
  }

  //center
  .center {
    text-align: center;
  }

  .no-info {
    font-size: x-large;
    color: rgb(156, 155, 155);
  }

  .underline {
    text-decoration: underline;
    text-decoration-color: rgb(168, 167, 167);
    text-decoration-thickness: 2px;
  }